body {
    background-color: rgb(156, 118, 91);
}

#app {
    /* min-width: 1000px; */
    display: flex;
    flex-flow: wrap;
justify-content: space-around;
margin-block: 10px;

}

.animal {
 /* justify-content: space-between; */
 
  min-width: 200px;
  max-height: 450px;
  /* margin-top: 10px; */
  margin-bottom: 20px;
  /* margin-block: 20px; */
}

/* .cat {

}

.dog {

}

.dino {

}

.imgs {
    
}

.card-footer {
    
} */

.delbtn {
color: red;
}